.adminLogin{
min-height:100vh;
display:flex;
align-items:center;
justify-content:center;
background:#f1f5f9;
}

.loginCard{
background:white;
padding:35px;
border-radius:12px;
width:100%;
max-width:380px;
text-align:center;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

.loginCard img{
width:60px;
margin-bottom:10px;
}

.loginCard input{
width:100%;
padding:11px;
margin-bottom:12px;
border-radius:6px;
border:1px solid #ddd;
}

.pinBox{
position:relative;
}

.pinBox span{
position:absolute;
right:10px;
top:10px;
cursor:pointer;
}

.loginCard button{
width:100%;
padding:11px;
border:none;
border-radius:6px;
background:#2563eb;
color:white;
cursor:pointer;
}

.forgetPin{
margin-top:10px;
font-size:14px;
color:#2563eb;
cursor:pointer;
}

@media(max-width:500px){

.loginCard{
margin:10px;
padding:25px;
}

}