/* NAVBAR */

.navbar{

width:101.7%;

background:#ffffff;

border-bottom:1px solid #eee;

box-shadow:0 4px 20px rgba(0,0,0,0.05);

position:sticky;
top:0;
z-index:1000;

}


/* CONTAINER */

.nav-wrapper{

max-width:1250px;

margin:auto;

display:flex;
justify-content:space-between;
align-items:center;

padding:10px 25px;

}


/* LOGO */

.logo{

display:flex;
align-items:center;

gap:12px;

}

.logo img{

width:70px;

}


/* BRAND TEXT */

.brand-text{

font-size:26px;

font-weight:700;

letter-spacing:0.5px;

display:flex;

}

.brand-text span{

color:#333;

}

.brand-text strong{

color:#4F46E5;

margin-left:4px;

}


/* MENU */

.menu{

display:flex;
align-items:center;

gap:32px;

}

.menu a{

text-decoration:none;

font-size:16px;
font-weight:500;

color:#555;

position:relative;

transition:.3s;

}

.menu a:hover{

color:#4F46E5;

}


/* NAV ICONS */

.nav-icons{

display:flex;

gap:18px;

margin-left:10px;

}

.icon{

font-size:20px;

transition:.3s;

}

/* WhatsApp green */

.whatsapp{

color:#25D366;

}

.whatsapp:hover{

transform:scale(1.2);

}

/* Phone blue */

.phone{

color:#2563EB;

}

.phone:hover{

transform:scale(1.2);

}


/* HAMBURGER */

.hamburger{

display:none;

font-size:30px;

cursor:pointer;

color:#333;

}


/* MOBILE */

@media(max-width:768px){

.menu{

position:absolute;

top:75px;
left:0;

width:100%;

background:#fff;

flex-direction:column;

gap:22px;

padding:30px;

display:none;

box-shadow:0 8px 30px rgba(0,0,0,0.08);

}

.menu.active{

display:flex;

}

.hamburger{

display:block;

}

}