.deleteOverlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.4);
display:flex;
align-items:center;
justify-content:center;
}

.deleteCard{
background:white;
padding:25px;
border-radius:10px;
text-align:center;
max-width:350px;
width:90%;
}

.deleteBtns{
margin-top:15px;
display:flex;
justify-content:space-between;
}

.deleteBtn{
background:#ef4444;
border:none;
color:white;
padding:10px 15px;
border-radius:6px;
cursor:pointer;
}

.cancelBtn{
background:#64748b;
border:none;
color:white;
padding:10px 15px;
border-radius:6px;
cursor:pointer;
}